@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 0px) and (max-width: 599px) {
      @content;
    }
  }
  @if $point == sm {
    @media (min-width: 600px) and (max-width: 959px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 960px) and (max-width: 1279px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 1280px) and (max-width: 1919px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1920px) {
      @content;
    }
  }
}
